body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.options ul {
    list-style: none;
    padding: 0;
}

.options li {
    display: inline;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

/* Selection panel for Characters */
.centered-element {
    margin: 0 auto;
    width: 25%; /* Adjust the width as needed */
}

.select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    gap: 1px;
  }
  
  .select__item {
    padding: 10px;
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    text-align: center;
    border-radius: 3px;
    background: #e67f4c;
    transition: background 0.1s;
  }
  
  .select__item--selected {
    background: #1936c5;
    color: #ffffff;
  }
  

/* End Selection panel for Characters */

/* Glow border */
.box {
    position: relative;
    transform-style: preserve-3d;
  }
  .box::before {
    content: "";
    position: absolute;	
    inset: 2px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #ead2a8, #93cfdb, #0a71e6, #0b2bdf, #1310b8, #3936e7, #19156b, #541515, #d61039, #de0d0d, #ee6907, #f79d03, #e7a83a, #e7b349, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,0 0,0 100%,100% 100%,100% 0,0 0);
    pointer-events: none;
  }

.textbox {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
}


 .videobox {
    max-width: 100%;
}
